<form [formGroup]="form">
    <input type="text" autocomplete="off" tabindex="1" formControlName="time" #timeInput placeholder="__:__"
        [textMask]="{mask: mask}">
    <button type="button" (click)="print()">test</button>
</form>
<div *ngIf="$launches | async as launches">
    <div *ngFor="let launche of launches" (click)="routeToDetails(launche.flight_number)">
        <img src="{{launche.links.mission_patch_small}}" alt="">
    </div>
    <!-- <pre>{{ launches[0].links | json }}</pre> -->
    <!-- <img src="{{launches[0].links.mission_patch_small}}" alt=""> -->
</div>